.races-wrapper {
  width: 80%;
  margin: 20px auto;
}

.races-wrapper .races-title {
  margin: 0 0 20px 10px;
  font-size: 30px;
  font-weight: 100;
}

.races-wrapper #loading-wrapper {
  margin: 30px 0 !important;
}

.races-wrapper .react-bootstrap-table .table thead th {
  border-top: none;
}

.races-wrapper .react-bootstrap-table .highlight-winner {
  background-color: aquamarine;
  padding: 1px 10px;
}
